html{
   
}
body{
    min-height: 100vh;
    
}
.cont{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 20px;
	
}
header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
	
    
    
}
header span {
    font-size : 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    color: Yellow;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
    border-radius : 5px;
    padding: 20px;
	 background: linear-gradient(to top right, #ffccff 0%, #669999 100%) no-repeat

}
.wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 55vh;
    min-width:40vw;
    padding: 20px;
    position:absolute;
    align-items: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
    border-radius: 5px;
	 background: linear-gradient(to top right, #ffccff 0%, #669999 100%) no-repeat
}
.convert {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
.button3:hover {background-color: #e7e7e0;}
.currt, .currfr {
    flex: 1;
}
.input {
   padding: 10px;
   display:flex;
   margin-bottom: 10px;
  
}
.input span {
    
    width:100%;
    text-align:center;
}
#przelicz{
    display:flex;
    justify-content: center;
    
}
.wynik {
    flex: 1;
}
p {
    min-height: 3.7rem;
	text-align: center;
}